services:
  postgres:
    image: postgres:15-alpine
    container_name: order-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orders
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: order-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 5s
      retries: 5

  #app:
    #build: .
    #container_name: order-api
        #ports:
      #- "8080:8080"
      #depends_on:
        #postgres:
      #condition: service_healthy
        #rabbitmq:
      #condition: service_healthy
        #environment:
        #- DB_HOST=postgres
        #- DB_PORT=5432
      #- RABBIT_HOST=rabbitmq

volumes:
  postgres_data: